/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "MaisonNeue";
  src: url("/fonts/MaisonNeue-Book.ttf") format("truetype");
  font-weight: 350;
}
@font-face {
  font-family: "MaisonNeue";
  src: url("/fonts/MaisonNeue-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "MaisonNeue";
  src: url("/fonts/MaisonNeue-Demi.ttf") format("truetype");
  font-weight: 600;
}
html {
  height: 100%;
}

body {
  height: 100%;
  color: #666366;
}

.header {
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #666366;
  width: 100%;
  height: 100px;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.nav .menu {
  justify-content: space-evenly;
}
.nav .menu a {
  font-family: "MaisonNeue";
  color: #C8C6C8;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}
.nav .menu a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #C8C6C8;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav .menu a:hover:after {
  width: 100%;
  left: 0;
}
.nav .logo {
  width: 145px;
}
.nav .container-search {
  flex-direction: row;
  display: flex;
}
.nav .container-search button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  position: relative;
}
.nav .container-search button img {
  width: 25px;
}
.nav .container-search form {
  display: none;
}

.background-hero {
  background-image: url(/images/appletree.jpg);
  width: 100%;
  height: 100%;
  position: relative;
}
.background-hero .cadre-texte {
  font-family: "MaisonNeue";
  color: #0B0D12;
  background-color: rgba(200, 198, 200, 0.5);
  position: absolute;
  top: 40%;
  left: 5%;
  padding: 80px;
  width: 35%;
}
.background-hero .cadre-texte h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
.background-hero .cadre-texte p {
  font-size: 16px;
  margin-bottom: 30px;
}
.background-hero .cadre-texte a {
  background-color: #666366;
  color: white;
  text-decoration: none;
  background-color: #666366;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.background-hero .cadre-texte a:hover {
  background-color: grey;
  transition: 0.3s;
}

.main {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
}
.main .section-evenements h2 {
  font-family: "MaisonNeue";
  font-size: 25px;
  margin-top: 115px;
  margin-bottom: 25px;
  text-align: center;
}
.main .container-gallerie {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.main .container-gallerie .galerie-promo {
  padding: 20px;
  text-align: center;
}
.main .container-gallerie .galerie-promo .description {
  margin-bottom: 25px;
  margin-top: 25px;
  font-family: "MaisonNeue";
  font-size: 23px;
}
.main .container-gallerie .galerie-promo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .container-gallerie .galerie-promo .bouton-reserve {
  background-color: #666366;
  color: white;
  text-decoration: none;
  background-color: #666366;
  padding: 10px;
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 120px;
  font-family: "MaisonNeue";
}
.main .container-gallerie .galerie-promo .bouton-reserve:hover {
  background-color: grey;
  transition: 0.3s;
}

.footer {
  margin-top: 200px;
  height: 300px;
  width: 100%;
  background-color: #666366;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .colomn {
  flex-direction: column;
  text-align: center;
}
.footer .colomn .chevron {
  margin-bottom: 40px;
}
.footer .colomn .chevron a {
  color: #C8C6C8;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}
.footer .colomn .chevron a:hover {
  color: white;
}
.footer .colomn .menu {
  margin-bottom: 40px;
}
.footer .colomn .menu a {
  font-family: "MaisonNeue";
  color: #C8C6C8;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
  position: relative;
}
.footer .colomn .menu a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #C8C6C8;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer .colomn .menu a:hover:after {
  width: 100%;
  left: 0;
}
.footer .colomn .icon a {
  font-family: "MaisonNeue";
  color: #C8C6C8;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}
.footer .colomn .icon a:hover {
  color: white;
}

/*# sourceMappingURL=style.css.map */
