@import 'reset';
@import 'fonts';

$pale-grey: #C8C6C8;
$dark-grey: #666366;
$color-text: #0B0D12;

.container-gallerie {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;

    .galerie-promo{
       padding: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}